/*My WEB120 Portal Website */
    *{padding: 0; box-sizing: border-box; outline: 1px solid red;}
html {
        background-color: #DCEFFF;   
    }
   header {
        background-color: #73A2CC;
        height: 150px;
    }
    .logo {
        max-width: 300px;
        float: left;
        margin: 30px;
        margin-left: 50px;
    }
    img.icon {
        height:20px;
        width:20px;
        margin: 1em;
        float: right;
    }
    hr {
            clear: both;
            border-top: 4px solid #333;
    }
body {
        max-width: 980px;
        min-width: 320px;
        font-size: 100%;
        font-family: arial, sans-serif;
        background-color: #73A256;/*rgba(255, 255, 255, 0.62);*/
        width:80%;
        margin:auto;
        
        min-height:700px;
        -webkit-border:10px;
        border-radius:10px;
    }
div.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
div.embed-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
/*AIA*/
    div.aia {
        overflow-x:auto;
        width:640px;
        width: 100%;
        padding: 1em;
    }
    h3.clinfo{
        text-align:center;
    }
    table.clientInfo {
        width:600px;
        margin: auto;
    }
    th.question {
        text-align: left;   
    }
    td.one {
        padding-left:.5em;
        max-width: 20em;
        font-size: 80%;
    }
    td.two {
        padding:.5em;
        font-size: 75%;
    }
    th { 
        text-align:left; 
        padding:.75%;
        font-size: 80%;
    }
    td { 
        padding: .75em;
        font-size: 80%;
    }

    

/* DESKTOP */
    @media all and (min-width:1280px) {
    
        img.desktop {
            max-width:35%;
            float:right;
            padding: 1em;
            margin: 2em;
            border-radius:50px;
        }
        section {
            max-width: 65%;
            padding: 1em;

        }
        aside {
            max-width: 65%;
            padding: 1em;
        }
            img.tablet, img.phone {
            display:none;
        }
}

/* TABLET */
    @media all and (min-width:481px) and (max-width:1278px) {

        
        img.tablet {    
             max-width:35%;
            float:right;
            padding: 1em;
            margin: 2em;
        }
        img.icon, img.desktop, img.phone {
            display:none;
        }
        h1 {
            float: none;
        }
        section {
            max-width: 65%;
            padding: 1em;
}
aside {
            max-width: 65%;
            padding: 1em;
}
    }
/* PHONE */
@media all and (max-width:480px) {
    body {
        background-color: #6f90b5;   
    }
    div.wrapper {
        width: 100%;
    }
        img.phone {
            width:100%;
            display:inline;
        }
        img.icon, img.desktop, img.tablet {
            display:none;
        }
    section, aside{
        margin: 0;
        width: 100%;
        padding:1em;
    }
    ul.topnav {
        overflow: visible;
        text-decoration: none;

    }
    }